#!/usr/bin/make -f
# export QT_SELECT := qt5
include /usr/share/dpkg/default.mk

%:
	dh $@ --parallel

# 传递上游版本号给 CMake（可选）
override_dh_auto_configure:
	dh_auto_configure -- -DVERSION=$(DEB_VERSION_UPSTREAM)

# 其余 dh 步骤自动处理，无需覆盖