[Desktop Entry]
Categories=Audio;AudioVideo;Qt;
Comment=Play your music collection
Exec=/opt/apps/top.yzzi.tomato/files/one-tomato
Icon=top.yzzi.tomato
Name=一只番茄
Type=Application
