[Desktop Entry]
Categories=Audio;AudioVideo;Qt;
Comment=Play your music collection
Exec=gxde-timer
Icon=gxde-timer
Name=GXDE Timer
Name[zh_CN]=GXDE 计时器
Type=Application
